* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";

// Navbar

.navbar-brand {
    font-size: 2.5rem;
    color: black;
    font-family: 'Lobster', cursive;

    &:hover {
color: black;
    }
}

// Navbar links

.nav-link{
   margin: 0px 10px; 
color: black;
font-family: 'Rubik', sans-serif;
text-transform: uppercase;

&:hover{
    color: black;
}
}

// Navbar search

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    background-color: 3px solid rgb(129,216,208);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: rgb(129,216,208);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

// Main section

.main{
    background-image: url("./assets/earrings.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 100vh;
    width: 100%;

    .description{
        position: absolute;
        top: 70%;
        left: 20%;
        margin: auto;
        padding: 2em;
    
        h1{
            font-size: 4rem;
            font-weight: 700;
            font-family: 'Lobster', cursive;
        }
    }

    .btn1{
        height: 45px;
        border: none;
        outline: none;
        background-color: rgb(129,216,208);
        color: white;
        font-weight: 600;
        border-radius: 60px;
    
        &:hover{
            background-color: rgba(129, 216, 207, 0.63);
            transition: 0.5s;
        }
    }

    
}



// Store


h1{
    font-weight: 700;
}

.text-green {
    color: rgb(129,216,208);
    font-weight: 600;
    font-family: 'Lobster', cursive;
   
}

.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.btn2{
    height: 45px;
    width: 30%;
    border: none;
    outline: none;
    background-color: rgb(129,216,208);
    color: white;
    font-weight: 600;
    border-radius: 60px;
    margin-top: 20px;

    &:hover{
        background-color: rgba(129, 216, 207, 0.63);
        transition: 0.5s;
    }
}

// Contact

.contact-row{
    margin-bottom: 30px;
}

.button-area{
    display: flex;
    justify-content: center;
}


// Footer

footer {
    background-color: rgb(129,216,208);
    margin-top: 20px;

    a{
       margin-bottom: 20px;
    }
}